
@import "./geral.css";

/*Ajustes para o logo*/
.imglogo{
    width: 22%;
    position: absolute;
    top:15%;
    left:50%;
    transform: translate(-50%, -50%);
}
body{
    background-image: url(..//Img_geral/texture3.png);
    display: flex;
}
/* Quem está assistindo?*/
section h1{
    color:#D9D9D9;
    font-size: 1.2em;
    margin-bottom: 2%;
    height: 100%;
    width: 100%;
  
}

/*Configurações para os perfis*/
.perfil{
    width: 100%;
    height: 35%;
    margin:0;
    display: flex;
    position: absolute; 
    justify-content: center;
    flex-direction:column;
    align-items: center;

}
.perfis{
    width: auto;
    height: 0%;
    display: inline-flex;
    flex-direction: row;
}

.per-info{
    margin-top: 2em;
    width: 100%;
    height: auto;
    text-align:center;
    justify-content:center;
    color: #D9D9D9;
    font-size: 110%;
}
.img-2{
    margin-top:10%;
    height: auto;
    width: 70%;
    transition: 0.6s;
}
.Img-1{
    width: 100%; 
    cursor:pointer;
    transition: 0.6s;
}

.Img-1:hover{
    transform: scale(1.15); 
}
.img-2:hover{
    transform: scale(1.15);
}
/*Fim: Configurações dos perfis*/

/* Configurações do botão "Tela de Login"*/
.button{
    display: none;
    position: absolute;
    background-color:transparent;
    border: 1px;
    margin-left: 0.5%;
}
/*Fim:Conf. Botão Entrar*/


/*configuração basica do link*/

a{
    color: #D9D9D9;
}

@media screen and (min-width:0) and (max-width:1080px){
    .imglogo{
        width: 80%;
        height: auto;
        top:10%;
        display: flex; 
    }
    .perfil{
        margin-top:25%;
        width: 100%;
        height: 35%;
        display: flex;
    }
    .perfis{
        column-count: 2;
        width: 60%;
        height: 100%;
        display: table-column;
        
    }
    .per-info{
        margin-top: 1%;
        width: 100%;
        height: auto;
    }  
    .perf-info h3{
        margin-top: 30%;
        position: absolute;
    }
    .img-2{
        margin-top:0 ;
    }
   
    .button{
        margin-top:15%;
        
    }


}



